.profilePic{
    widows: 80px;
    height: 80px;
}

img{
    border-radius: 50%;
}

.moreDetails{
    display: inline-block;
}

.moreDetails p{
    margin-bottom: 0em;
}

.name{
    font-weight: bold;
}

.jobTitle, .id{
    font-weight: lighter;
    font-size: smaller;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin-bottom: 1rem;
}